body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#imageContainer {
    text-align: center;
}

img {
    max-width: 100%; /* 确保图片自适应容器宽度 */
    height: auto;   /* 保持图片比例 */
    display: block; /* 移除图片下方的空隙 */
    margin: 20px auto; /* 居中显示并添加间距 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
}

.hidden {
    display: none; /* 隐藏图片 */
}
